html {
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

.masthead {
  background-color: black;
  color: #fff;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: "Fredoka One", sans-serif;
  margin: 0;
}

h2 {
  color: black;
}

h3 {
  color: black;
  font-weight:normal;
}

.resize {
  margin-left: 2em;
}

.chlst {
  margin-right: 2em;
}

.nav a:focus {
  outline: 3px solid #fff;
}

.nav a:hover span,
.nav a:focus span {
  border-bottom-color: #fff;
}

.banner {
  min-height: 16em;
  color: #fff;
}

.banner-content a:focus {
  outline-color: #fff;
}

.btn-light {
  background-color: black;
  border-color: black;
  color: white;
}

.btn-light:hover,
.btn-light:focus {
  background-color: black;
  border-color: black;
}

.btn-banner {
  background-color: #FC4A1A;
  border-color: #FC4A1A;
  color: #fff;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 3em;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #fff;
  border-color: #fff;
  color: black;
}

.footer {
  background-color: #522806;
  border-top: .3rem solid #bea59b;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner,
  .card {
    min-height: 0;
  }

}
