html {
  background-color: black;
  font-family: "Open Sans",sans-serif;
}

.masthead {
  background-color: black;
  color: #fff;
}

.logo {
  text-align: left;
}

.nav {
  text-align: right;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: "Fredoka One", sans-serif;
  margin: 0;
  text-align: left;
}

h2 {
  color: black;
  margin-top: .8em;
}

h3 {
  color: black;
  margin-left: 3em;
  margin-right: 3em;
}

.nav a:focus {
  outline: 3px solid #fff;
}

.nav a:hover span,
.nav a:focus span {
  border-bottom-color: #fff;
}

.button {
  margin-bottom: .8em;
}
.banner {
  min-height: 16em;
  color: #fff;
}

.banner-content a:focus {
  outline-color: #fff;
}

.btn-light {
  background-color: black;
  border-color: black;
  color: white;
}

.btn-light:hover,
.btn-light:focus {
  background-color: black;
  border-color: black;
}

.btn-banner {
  background-color: #FC4A1A;
  border-color: #FC4A1A;
  color: #fff;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 1em;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #fff;
  border-color: #fff;
  color: black;
}

.footer {
  background-color: #522806;
  border-top: .3rem solid #bea59b;
  color: #fff;
}

.chlst,
.resize {
  margin-left: 4em;
  margin-right: 4em;
  display: block;
  width: 16%;
}



.multi {
  display: block;
  width: 16%;
}

.star {
  display: block;
  width: 90%;

}

.easy {
  margin-top: .5em;
}

.peasy {
  color: white;
}

.one {
  margin-right: 2em;
}


@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner,
  .card {
    min-height: 0;
  }

}

@media only screen and (min-width: 60em) {

  .chlst,
  .resize {
    margin-left: 4em;
    margin-right: 4em;
    display: block;
    width: 15%;
  }

  .multi {
    display: block;
    width: 15%;
  }
}
